#footer-banner {
    height: 5px;
}

#footer-main {
    height: 50px;
}

.short-text {
    display: none;
}




@media screen and (max-width: 768px) {
    body {
        background-color: green;;
    }

    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-color: yellow;
    }
    

}
