body {
    background: grey;
}

.jumbotron {
    margin-top: 60px;
}

#footer-banner {
    height: 5px;
}

#footer-main {
    height: 50px;
}

.short-text {
    display: none;
}




@media screen and (max-width: 768px) {

    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }

}

@media screen and (max-width: 400px) {


}
